{
    "_1": "NOTE : keys starting with underscores are comments. t2m ignores them.  We are doing this because json doesn't officially support comments",
    "_2": "Create a config.json based on this file.",

    "_db_path_": "DB path.  This is the sqlite3 database for this server.  Keep in mind that this should not be accessible from the web server.",
    "db_path":"/some/secret/path/t2m.db",

    "_base_url_": "Base URL facing the external world.  It is recommended that this is a https address if possible, as web browsers generally disallow t2m to fire http queries to the server if the request address originated from https.",
    "base_url":"http://192.168.233.234/tmm/"
}
